body {
    background-color: #FFE8DD;
    margin: 0;
}
.z {
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 41px;
}
.x {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: #7D4533;
    margin: 120px 0 0 0;
    font-size: 50px;
}
.c {
    font-family: Montserrat, sans-serif;        
    color: #B7654B;
    font-size: 20px;
    line-height: 28px;
    margin-top: 25px;
}
.navbar {
    display: flex;
    font-size: 14px;
    background-color: hsla(19, 45%, 77%, 0.40);
    border-radius: 12px;
    align-items: center;
}


.conatiner {
    width: 1126px;
    margin: auto;
}

.activity {
    background-color: hsla(14, 43%, 51%, 0.15);
    border-radius: 8px;
    color: #7D4533;
    padding: 6px 8px;
    margin: 6px 25px 6px 0;
}

.no-activity {
    margin: 0 25px 0 0;
    color: hsla(15, 42%, 35%, 0.6);
}


.btn1 {
    font-family: Montserrat, sans-serif;  
    width: 181px;
    height: 48px;
    font-weight: 600;   
    border: 0;
    border-radius: 12px;
    font-size: 16px;
    background-color: #7D4533;
    color: #FFE8DD;
    margin-right: 10px;
}

.sing-in {
    font-family: Montserrat, sans-serif;  
    font-weight: 600;
    border: 0;
    width: 109px;
    height: 48px;
    background-color: #EFD0BE;
    color: #7D4533;
    border-radius: 12px;
}